* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(32, 35, 40);
    color: #ffffff;
}

nav {
    width: 100%;
    height: 60px;
    background-color: rgb(230, 129, 35);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navTitle {
    font-weight: bold;
    text-align: center;
}

#popularDiv {
    width: 100%;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: fit-content;
    margin: 20px auto;
    background-color: rgb(230, 129, 35);
    padding: 15px;
}

.popularTitle {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-self: center;
}

.movieCardImg {
    width: 100%;
}

.movieCard {
    position: relative;
    overflow: hidden;
    width: 200px;
    transition: 0.2s;
    border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

.movieCard:hover .overlay {
        opacity: 1;
        cursor: pointer;
}